body {
  background-color: rgb(174, 245, 174);
}

.App {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media (max-width: 900px) {
  .App {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .App {
    grid-template-columns: repeat(1, 1fr);
  }
}
